# IntelliJ IDEA
.idea
frontend/.idea
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

# Java
backend/target/
backend/db/

# Visual Studio Code
frontend/.vscode

# Node/Angular
frontend/node_modules
frontend/.angular