<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Smoothie Shop</a>
    </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav ms-auto flex-nowrap">
        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#myModal">
          <a class="nav-link" href="#">Cart <i class="fa fa-shopping-cart"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav> 