<div class="card">
  <div class="card-body">
    <div class="col-sm-8">
      <h1 *ngIf="!edit && isLoggedIn() && (hasRole('USER') || hasRole('OWNER'))">{{ smoothie.name }}</h1>
      <input *ngIf="edit && isLoggedIn() && hasRole('OWNER')" class="form-control input-lg" type="text" [value]="smoothie.name" (change)="onSmoothieNameChange($event)"/>
    </div>
    <div class="col-sm-8">
      <h3 *ngIf="!edit && isLoggedIn() && (hasRole('USER') || hasRole('OWNER'))">{{ smoothie.price }}$</h3>
      <input *ngIf="edit && isLoggedIn() && hasRole('OWNER')" class="form-control input-lg" class="form-control input-lg" type="number" step="0.01" [value]="smoothie.price" (change)="onSmoothiePriceChange($event)"/>
    </div>
    
    <h4>Nutritional values</h4>
    <table class="table">
      <tbody>
        <tr *ngFor="let nutrient of nutritionalValues">
          <td>{{ nutrient.nutrient.name }}</td>
          <td>{{ nutrient.amount }} {{ nutrient.nutrient.unit }}</td>
        </tr>
      </tbody>
    </table>

    <button *ngIf="edit && isLoggedIn() && hasRole('OWNER')" class="form-control input-lg" class="btn btn-success" (click)="onSaveSmoothie()">SAVE <i class="fa fa-save"></i></button>
  </div>
</div>